@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 500ms;
}

.guest-fadeIn {
    margin-top:10px;
    margin-bottom: 10px;
    animation-name: fadeIn;
    animation-duration: 2000ms;
}

body {
    background: #1b3c6c url(../img/bg.svg) no-repeat top center;
    padding-top: 100px;
    background-size: cover;
}

form,
input {
    display: block;
}

table tbody tr {
    cursor: pointer;
}

input,
div.btn {
    margin: 10px 0;
}

#consSearch {
    margin-bottom: 10px;
}

#badgeInformation {
    display: none;
}

.boxShadow {
    box-shadow: 3px -3px 5px rgba(0, 0, 0, .3);
}

.message-container {
    padding: 10px;
}

.searchBtn {
    display: block;
    margin-bottom: 10px;
}

.navbar-inverse {
    background-color: rgb(35, 31, 32);
    border-color: #000;
    color: #fff;
}

.navbar-inverse .navbar-nav li  a {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-header {
    margin-top: -5px;
}

.navbar-header .logo {
    height: 35px;
}

.panel {
    border: none;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #414042;
    border-color: #414042;
}

.panel-heading>h3 {
    color: white;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.modal-header h3.modal-title {
    display: inline-block;
}

.modal-header .checkin-success {
    display: inline-block;
    opacity: 0;
    font-size: 40px;
    line-height: 0px;
    color: #45dd3b;
}

#guest-success {
    opacity: 0;
    font-size: 40px;
    line-height: 0px;
    color: #45dd3b;
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;
}

.modal-content {
    background-color: #fff;
}

.modal-header>h3 {
    color: black;
}

.modal-body {
    color: #000;
}

.modal-body h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #FFF;
}

.modal-body>.row div.col-sm-6:first-child {
    margin-bottom: 30px;
}

@media print {
    body>*:not(#badgeInformation),
    .modal-header,
    .modal-body,
    .modal-footer,
    div.modal-dialog.modal-lg {
        display: none;
    }
    body {
        padding-top: 0;
        text-align: center;
    }
    #badgeInformation {
        display: block;
        padding-top: 15px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (max-width: 500px) {
    .panel-primary .panel-heading {
        overflow: auto;
    }
    .panel-primary .panel-heading .searchBtn {
        width: 100%;
    }
}