<div class="modal-header">
    <h3 class="modal-title">Participant Information</h3>
    <div class="checkin-success pull-right" id="checkin-success">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4> {{ selected.consInfo.name.first + " " + selected.consInfo.name.last }}</h4>
                </a>
                <a href="#" class="list-group-item">Participant Type:
                    <strong>{{ selected.consInfo.custom.string[0].content }}</strong>
                </a>
                <a href="#" class="list-group-item">Email:
                    <strong> {{ selected.consInfo.email.primary_address }}</strong>
                </a>
                <a href="#" class="list-group-item">
                    Address:
                    <strong> {{ selected.consInfo.primary_address.street1 }}
                        <br /> {{ selected.consInfo.primary_address.city }}, {{ selected.consInfo.primary_address.state }} {{ selected.consInfo.primary_address.zip
                        }}
                    </strong>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </button>
    <button class="btn btn-success" type="button" ng-click="ok()">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Check-in
    </button>
</div>