<div class="modal-header">
    <h3 class="modal-title">Participant Information</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Participant Information</h4>
            <h5>Name:<strong> {{ selected.consInfo.name.first + " " + selected.consInfo.name.last }}</strong></h5>
            <h5>Constituent ID:<strong> {{ selected.consInfo.cons_id }}</strong></h5>
            <h5>Participation Type:<strong> {{ selected.consInfo.custom.string[0].content }}</strong></h5>
        </div>
        <div class="col-sm-4">
            <h4>Contact Information</h4>
            <h5>Email:<strong> {{ selected.consInfo.email.primary_address }}</strong></h5>
            <h5>P:<strong> <a href="tel:{{ selected.consInfo.home_phone}}">{{ selected.consInfo.home_phone}}</a></strong></h5>
            <h5>M:<strong> {{ selected.consInfo.mobile_phone}}</strong></h5>
            <h5>Address:<strong> {{ selected.consInfo.primary_address.street1 }}<br />
        {{ selected.consInfo.primary_address.city }}, {{ selected.consInfo.primary_address.state }} {{ selected.consInfo.primary_address.zip }}</strong></h5>
            <h5>ALC Region: <strong> {{selected.consInfo.custom.string[14].content }}</strong></h5>
        </div>
        <div class="col-sm-4">
            <img ng-src="{{ badgeSrc }}" class="img-responsive center-block">
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-danger pull-left" ng-click="printBadge()">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print Badge
    </button> -->
    <button class="btn btn-success" type="button" ng-click="ok()">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Check-in
    </button>
    <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel
    </button>
</div>
